body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d4d0c6;
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #665544;
}
.main-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto 50px auto;
}
 .main-heading p{
    font-weight: 500;
}
.container-a{
    display: flex;
    width: 817px;
    justify-content: center;
    align-items: center;
    margin: auto auto 10px auto;
}
.container-1,.container-2,.container-3{
    display: inline-block;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
}
.container-b{
    display: flex;
    width: 817px;
    justify-content: center;
    align-items: center;
    margin: auto auto 10px auto;
}
.container-4,.container-5,.container-6{
    display: inline-block;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
}


.gallery{
    margin: 5px;
    border: 0 solid #ccc;
    float: left;
    width: 250px;
}
.gallery img{
    width: 250px;
    height: 165px;
}
.description{
    padding: 3px;
    text-align: left;
}


:root{--grey:rgb(135,143,145);
    --white:#fff;
    --optional:#D1D1D1;
  }
.btn{
    display: flex;
    align-items: center;
    width: 300px;
    height: 18vh;
    margin: auto;
}
.btn-but{
  display: flex;
 justify-content: center;
 align-items: center;
 background: none;
 color: var(--black);
 border: 2px solid black;
 text-transform: capitalize;
 font-size: 25px;
 margin: 0 auto;
 padding: 15px 25px;
 border-radius: 5px;
 position: relative;
 transition: color 0.3s ease-in-out;
 width: 180px;
 text-align: center;
 text-decoration: none;
 font-weight: 700;
}

.btn-but::before{
content: "";
position: absolute;
width: 0;height: 100%;
background: var(--grey);
top: 0;left: 0;
transition: width 0.3s ease-in-out;
z-index: -1;
}
.btn-but:hover::before{width: 100%;}

.btn-but:hover{color: #b5c1ad;}